In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [3]:
#Load our dataframe account for the index columns
df = pd.read_csv('case_study.csv', index_col = 0 )

/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (171) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# Quickly check to see the size of our DF, both rows and columns
df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_PA300R2,_PA30021,_PASTRNG,_PAREC1,_PASTAE1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
49938,9.0,5.0,5172017,5,17,2017,1200.0,2017000001,2.017000e+09,NaN,...,2.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
49939,9.0,2.0,2142017,2,14,2017,1200.0,2017000002,2.017000e+09,NaN,...,1.0,1.0,1.0,1.0,1.0,2.0,2.0,NaN,NaN,2.0
49940,9.0,1.0,1292017,1,29,2017,1200.0,2017000003,2.017000e+09,NaN,...,3.0,2.0,1.0,3.0,2.0,1.0,1.0,NaN,NaN,2.0
49941,9.0,7.0,9112017,9,11,2017,1200.0,2017000004,2.017000e+09,NaN,...,2.0,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,1.0
49942,9.0,5.0,7182017,7,18,2017,1200.0,2017000005,2.017000e+09,NaN,...,2.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,2.0

In [5]:
df.shape

(34545, 358)

## Subset your dataframe to only include the states in the tri-state area (NJ, CT, NY)

In [6]:
# your code here
#look at the types of data in the dataframe

df.isnull().sum()

_STATE          0
FMONTH          0
IDATE           0
IMONTH          0
IDAY            0
            ...
_RFSEAT2        0
_RFSEAT3        0
_FLSHOT6    22334
_PNEUMO2    22334
_AIDTST3     3773
Length: 358, dtype: int64

Now check to see how large our subset df.

In [7]:
# your code here

**PHYSHLTH** is the column we are interested in for this analysis, so let's start to investigate the column. Since we have a data cookbook, a.k.a. data dictionary) we want to start there before looking at the code.

In [8]:
df['PHYSHLTH'].describe()

count    34545.000000
mean        60.213403
std         37.504566
min          1.000000
25%         15.000000
50%         88.000000
75%         88.000000
max         99.000000
Name: PHYSHLTH, dtype: float64

## 1. Handle the non-normal values

As you can see from the data dictionary, there are a number of responses that are coded with values that could throw off our descriptive statistics.  Let's clean up by mapping the responses to a more appropriate value, and handling any missing values.

In [9]:
#your code here
#create a list of columns that don't have any values


list_of_dropped_columns = []
for col in df.columns:
    if df[col].isna().sum() == len(df):
        list_of_dropped_columns.append(col)

In [10]:
clean_df = df.drop(columns=list_of_dropped_columns)

In [11]:
#find out how many 'not sures' -77 or 'no answers' 99 are in the dataset
drop_list = []

for i in clean_df['PHYSHLTH']:
    if i == 99 or i == 77:
        drop_list.append(i)
drop_list

[77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 99.0,
 77.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0,
 99.0,
 99.0,
 77.0,
 99.0,
 99.0,
 77.0,
 99.0,
 77.0,
 99.0,
 77.0,
 77.0,
 99.0,
 99.0]

In [12]:
len(drop_list)

798

In [13]:
#remove thoses from the dataset


clean_df.drop(clean_df[clean_df['PHYSHLTH'] == 77 ].index , inplace=True)

In [14]:

clean_df.drop(clean_df[clean_df['PHYSHLTH'] == 99 ].index , inplace=True)

In [15]:
s1 = pd.DataFrame(clean_df['_STATE']).reset_index().drop(columns='index')
s2 = pd.DataFrame(clean_df['PHYSHLTH']).reset_index().drop(columns='index')
state_phyh = pd.concat([s2, s1])

/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
state_phyh

       PHYSHLTH  _STATE
0          88.0     NaN
1          88.0     NaN
2           2.0     NaN
3          88.0     NaN
4          88.0     NaN
...         ...     ...
33742       NaN    36.0
33743       NaN    36.0
33744       NaN    36.0
33745       NaN    36.0
33746       NaN    36.0

[67494 rows x 2 columns]

In [47]:
## 2. Generate the descriptive statistics

#Now that our target variable is cleaned up lets calculate the descriptive statistics, 
#generate a graph that quickly shows those statistics, and generate a gprah shows the histogram of the data.

state_phyh['PHYSHLTH']=state_phyh['PHYSHLTH'].apply(lambda x: 0 if x==88 else x)

In [48]:
# #channge value labels for states to make it easier to read
# state_phyh['_STATE'] = state_phyh['_STATE'].map({9.0:'Connecticut',34.0:'New Jersey'})
state_phyh['_STATE'] = state_phyh['_STATE'].apply(lambda x: 'Connecticut' if x == 9.0 else x)

state_phyh['_STATE'] = state_phyh['_STATE'].apply(lambda x: 'New Jersey' if x == 34.0 else x)

state_phyh['_STATE'] = state_phyh['_STATE'].apply(lambda x: 'New York' if x == 36.0 else x)

In [51]:
state_phyh.head(10)

   PHYSHLTH _STATE
0       0.0    NaN
1       0.0    NaN
2       2.0    NaN
3       0.0    NaN
4       0.0    NaN
5       0.0    NaN
6       0.0    NaN
7       0.0    NaN
8      28.0    NaN
9       0.0    NaN

In [ ]:
state_phyh

In [ ]:
state_phyh['PHYSHLTH'].value_counts()

In [ ]:
state_phyh.groupby('_STATE')['PHYSHLTH'].mean().reset_index()

In [ ]:
# descriptive statistics
state_phyh.groupby('_STATE')['PHYSHLTH'].mean().reset_index()

In [ ]:
# graphic showing those descriptive stats

In [ ]:
# graphic showing the distribution of data
state_phyh_reset

## 3. Generate a graphic that compares the average number of sick days for each state.

In [ ]:
# code to calculate the average number of sick days by state

state_phyh_reset = state_phyh.groupby('_STATE')['PHYSHLTH'].mean().reset_index()

In [ ]:
state_phyh_reset.plot(kind='bar',x='_STATE', figsize=(15,8), )
plt.show()

In [ ]:
# code to graph those averages using matplotlib

## 4. Turn the number of sick days into a classification of of chronically sick people.  

Chronically sick people account for a significant proportion of the costs for health insurers. If we can identify what leads people to be chronically sick, we can address them with specific treatments.

In [ ]:
# rename month columns

In [33]:
clean_df

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_PA300R2,_PA30021,_PASTRNG,_PAREC1,_PASTAE1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
49938,9.0,5.0,5172017,5,17,2017,1200.0,2017000001,2.017000e+09,NaN,...,2.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
49939,9.0,2.0,2142017,2,14,2017,1200.0,2017000002,2.017000e+09,NaN,...,1.0,1.0,1.0,1.0,1.0,2.0,2.0,NaN,NaN,2.0
49940,9.0,1.0,1292017,1,29,2017,1200.0,2017000003,2.017000e+09,NaN,...,3.0,2.0,1.0,3.0,2.0,1.0,1.0,NaN,NaN,2.0
49941,9.0,7.0,9112017,9,11,2017,1200.0,2017000004,2.017000e+09,NaN,...,2.0,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,1.0
49942,9.0,5.0,7182017,7,18,2017,1200.0,2017000005,2.017000e+09,NaN,...,2.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303774,36.0,5.0,5152017,5,15,2017,1200.0,2017012245,2.017012e+09,NaN,...,3.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
303775,36.0,6.0,6252017,6,25,2017,1200.0,2017012246,2.017012e+09,NaN,...,2.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
303776,36.0,7.0,7212017,7,21,2017,1200.0,2017012247,2.017012e+09,NaN,...,2.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
303777,36.0,7.0,7202017,7,20,2017,1200.0,2017012248,2.017012e+09,NaN,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
303778,36.0,7.0,7252017,7,25,2017,1200.0,2017012249,2.017012e+09,NaN,...,3.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0

In [11]:
# #rename columns for chronic illnesses
# clean_df = clean_df.rename(columns=({'CVDINFR4':'Heart Attack', 'CVDCRHD4':'Heart Disease', 'CVDSTRK3':'Stroke', 'ASTHMA3':'Had Asthma',
#                                      'ASTHNOW':'Have Asthma Now',
#                                     'CHCSCNCR':'Skin Cancer', 'CHCOCNCR':'Other Cancer', 'CHCCOPD1':'Pulmonary,emphysema,bronchitis',
#                                     'HAVARTH3':'Arthritis', 'ADDEPEV2':'Depression', 'CHCKIDNY':'Kidney Disease', 'DIABETE3':'Diabetes'}))

In [13]:
#slice dataframe for chronic illnesses
chronic_df = clean_df.loc[:, 'Heart Attack':'Diabetes']

In [25]:
#change 2.0 values to 0
chronic_df.replace(range(2,10),0, inplace=True)

In [26]:
chronic_df

,Heart Attack,Heart Disease,Stroke,Had Asthma,Have Asthma Now,Skin Cancer,Other Cancer,"Pulmonary,emphysema,bronchitis",Arthritis,Depression,Kidney Disease,Diabetes
49938,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0
49939,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49940,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49941,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49942,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
303774,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0
303775,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
303776,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
303777,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0
303778,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
chronic_df['chronic'] = chronic_df.sum(axis=1)

In [63]:
chronic_df['chronic'].describe()

count    33747.000000
mean         1.251756
std          1.494345
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max         10.000000
Name: chronic, dtype: float64

In [52]:
#add new column to original database

clean_df['chronic_index'] = chronic_df['chronic']

In [64]:
clean_df.groupby('chronic_index')['PHYSHLTH'].mean()

chronic_index
0.0     69.096276
1.0     59.659577
2.0     53.654949
3.0     46.908777
4.0     42.371528
5.0     36.316607
6.0     30.453039
7.0     28.855263
8.0     29.187500
9.0     29.966667
10.0    27.888889
Name: PHYSHLTH, dtype: float64

In [65]:
clean_df['PHYSHLTH']

49938     88.0
49939     88.0
49940      2.0
49941     88.0
49942     88.0
          ...
303774    88.0
303775    88.0
303776     6.0
303777    88.0
303778    88.0
Name: PHYSHLTH, Length: 33747, dtype: float64

## 5. Create a graphic that compares the percentage of people labeled as 'sick' in each state.

In [ ]:
# code to calculate averages per state

In [ ]:
# create graphic to compare chronically sick by state

## 6. Independent Variables (categorical)

Let's take the column `SMOKDAY2` and start to prepare it so that we can see how it is possibly correlated to `PHYSHLTH`.

1. Clean up the values.
2. Calculate the descriptive statistics of the variable.
3. Generate a histogram for the variable.
4. Generate graphics that show how the responses to this variable might differ by state.
5. Generate a graphic that compares the physical health of the different groups of 'smokers'.

## 7. Independent Variables (continuous):

Now let's look at a continuous variable (ALCDAY5) and see how that might impact a person's health. 

1. Clean up the values.
2. Calculate the descriptive statistics of the variable.
3. Generate a histogram for the variable.
4. Generate graphics that show how the responses to this variable might differ by state.
5. Calculate the correlation coefficient between `PHYSHLTH` and `ALCDAY5`.
5. Generate a graphic that shows the possible relationship between `PHYSHLTH` and `ALCDAY5`.

## 8. Additional variables: Choose two additional survey items you would like to investigate do steps  6 or 7 for those variables.

In [ ]:
# your code here

## 9. Based on your initial data exploration, what are some hypotheses of what affects a person's health that you would like to further investigate?

Type out your initial hyptotheses below:

1. 

2. 

3.

## Bonus: Create some cool graphics.