In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
from math import exp
from scipy.stats import norm
from scipy import stats
import seaborn as sns
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import warnings
warnings.filterwarnings("ignore")

In [9]:
df = pd.read_csv('kc_house_data_train.csv', index_col=0)

In [10]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2591820310,20141006T000000,365000.0,4,2.25,2070,8893,2.0,0,0,...,8,2070,0,1986,0,98058,47.4388,-122.162,2390,7700
1,7974200820,20140821T000000,865000.0,5,3.00,2900,6730,1.0,0,0,...,8,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283
2,7701450110,20140815T000000,1038000.0,4,2.50,3770,10893,2.0,0,2,...,11,3770,0,1997,0,98006,47.5646,-122.129,3710,9685
3,9522300010,20150331T000000,1490000.0,3,3.50,4560,14608,2.0,0,2,...,12,4560,0,1990,0,98034,47.6995,-122.228,4050,14226
4,9510861140,20140714T000000,711000.0,3,2.50,2550,5376,2.0,0,0,...,9,2550,0,2004,0,98052,47.6647,-122.083,2250,4050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17285,627300195,20150303T000000,750000.0,5,2.50,3240,9960,1.0,0,1,...,8,2020,1220,1958,0,98008,47.5858,-122.112,2730,10400
17286,8819900270,20140520T000000,440000.0,2,1.75,1300,4000,2.0,0,0,...,7,1300,0,1948,0,98105,47.6687,-122.288,1350,4013
17287,3816300095,20140514T000000,310000.0,3,1.00,1050,9876,1.0,0,0,...,7,1050,0,1953,0,98028,47.7635,-122.262,1760,9403
17288,122069107,20141204T000000,427500.0,3,1.50,1900,43186,1.5,0,0,...,7,1300,600,1971,0,98038,47.4199,-121.990,2080,108028
17289,6703100135,20150116T000000,348000.0,3,1.50,1330,6768,1.0,0,0,...,7,1330,0,1952,0,98155,47.7366,-122.319,1320,6910

In [11]:
df['ren_age'] =  df['yr_renovated'].map(lambda x: 2015-x)

In [12]:
df['ren_age'].value_counts()

2015    16564
1          71
10         32
8          32
15         31
        ...
67          1
81          1
56          1
64          1
71          1
Name: ren_age, Length: 69, dtype: int64

In [13]:
ren_age_dict = {2015:0}
df['ren_age'] = df['ren_age'].replace(ren_age_dict)

In [73]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'ren_age',
       'bedrooms_scaled', 'bathrooms_scaled', 'sqft_living_scaled',
       'long_scaled', 'yr_built_scaled', 'condition_scaled', 'price_scaled'],
      dtype='object')

In [76]:
# import matplotlib.pyplot as plt
# %matplotlib inline
# import numpy as np

# fig, axes = plt.subplots(nrows=3, ncols=5, figsize=(16,3))

# for xcol, ax in zip(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition',
#                     'grade', 'sqft_above', 'sqft_basement',  'yr_built', 'zipcode', 'lat', 'long'], axes):
#     df.plot(kind='scatter', x=xcol, y='price', ax=ax, alpha=0.4, color='b')

In [15]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'ren_age'],
      dtype='object')

In [40]:
features = df[['bedrooms', 'bathrooms', 'sqft_living', 'long', 'yr_built', 'condition']]

In [48]:
feature_list = ['bedrooms', 'bathrooms', 'sqft_living', 'long', 'yr_built', 'condition']

In [24]:
from statsmodels.formula.api import ols

In [77]:
lr_model = ols(formula='price~bedrooms+bathrooms+long+yr_built+condition', data=df).fit()
lr_model1 = ols(formula='price_scaled~bedrooms_scaled+bathrooms_scaled+long_scaled+yr_built_scaled+condition_scaled', data=df).fit()

In [78]:
lr_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.335
Model:                            OLS   Adj. R-squared:                  0.335
Method:                 Least Squares   F-statistic:                     1741.
Date:                Wed, 19 Feb 2020   Prob (F-statistic):               0.00
Time:                        14:40:26   Log-Likelihood:            -2.4284e+05
No. Observations:               17290   AIC:                         4.857e+05
Df Residuals:                   17284   BIC:                         4.857e+05
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   8.078e+05   2.29e+06      0.353      0.724   -3.68e+06     5.3e+06
bedrooms    5149.4789   2901.718      1.775      0.076    -538.183    1.08e+04
bathrooms   3.194e+05   4045.120     78.953      0.000    3.11e+05    3.27e+05
long       -4.644e+04   1.81e+04     -2.571      0.010   -8.18e+04    -1.1e+04
yr_built   -3385.7050    104.912    -32.272      0.000   -3591.344   -3180.066
condition   1.112e+04   3829.214      2.904      0.004    3614.168    1.86e+04
==============================================================================
Omnibus:                    14067.664   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           805995.501
Skew:                           3.511   Prob(JB):                         0.00
Kurtosis:                      35.703   Cond. No.                     1.95e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.95e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [79]:
lr_model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           price_scaled   R-squared:                       0.335
Model:                            OLS   Adj. R-squared:                  0.335
Method:                 Least Squares   F-statistic:                     1741.
Date:                Wed, 19 Feb 2020   Prob (F-statistic):               0.00
Time:                        14:40:34   Log-Likelihood:                -21008.
No. Observations:               17290   AIC:                         4.203e+04
Df Residuals:                   17284   BIC:                         4.207e+04
Df Model:                           5
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept        -5.326e-16      0.006  -8.59e-14      1.000      -0.012       0.012
bedrooms_scaled      0.0130      0.007      1.775      0.076      -0.001       0.027
bathrooms_scaled     0.6591      0.008     78.953      0.000       0.643       0.676
long_scaled         -0.0175      0.007     -2.571      0.010      -0.031      -0.004
yr_built_scaled     -0.2661      0.008    -32.272      0.000      -0.282      -0.250
condition_scaled     0.0194      0.007      2.904      0.004       0.006       0.032
==============================================================================
Omnibus:                    14067.664   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           805995.501
Skew:                           3.511   Prob(JB):                         0.00
Kurtosis:                      35.703   Cond. No.                         2.53
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [58]:

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [38]:
scaled_features = scaler.fit(features)

In [39]:
scaled_features

StandardScaler(copy=True, with_mean=True, with_std=True)

In [50]:
feature_list

feature_scaled = []
for var in feature_list:
    new_col = var +"_scaled"
    df[new_col] = scaler.fit_transform(df[[var]])
    feature_scaled.append(new_col)

In [67]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_living15,sqft_lot15,ren_age,bedrooms_scaled,bathrooms_scaled,sqft_living_scaled,long_scaled,yr_built_scaled,condition_scaled,price_scaled
0,2591820310,20141006T000000,365000.0,4,2.25,2070,8893,2.0,0,0,...,2390,7700,0,0.668070,0.179189,-0.012462,0.371013,0.518289,0.908213,-0.470763
1,7974200820,20140821T000000,865000.0,5,3.00,2900,6730,1.0,0,0,...,2370,6283,0,1.732672,1.152641,0.889720,-0.502235,0.211568,2.443659,0.868613
2,7701450110,20140815T000000,1038000.0,4,2.50,3770,10893,2.0,0,2,...,3710,9685,0,0.668070,0.503673,1.835381,0.605300,0.893170,-0.627233,1.332037
3,9522300010,20150331T000000,1490000.0,3,3.50,4560,14608,2.0,0,2,...,4050,14226,0,-0.396532,1.801609,2.694084,-0.097559,0.654609,-0.627233,2.542833
4,9510861140,20140714T000000,711000.0,3,2.50,2550,5376,2.0,0,0,...,2250,4050,0,-0.396532,0.503673,0.509282,0.931881,1.131730,-0.627233,0.456086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17285,627300195,20150303T000000,750000.0,5,2.50,3240,9960,1.0,0,1,...,2730,10400,0,1.732672,0.503673,1.259289,0.725993,-0.435953,-0.627233,0.560557
17286,8819900270,20140520T000000,440000.0,2,1.75,1300,4000,2.0,0,0,...,1350,4013,0,-1.461134,-0.469779,-0.849425,-0.523534,-0.776753,-0.627233,-0.269856
17287,3816300095,20140514T000000,310000.0,3,1.00,1050,9876,1.0,0,0,...,1760,9403,0,-0.396532,-1.443231,-1.121167,-0.338945,-0.606353,-0.627233,-0.618094
17288,122069107,20141204T000000,427500.0,3,1.50,1900,43186,1.5,0,0,...,2080,108028,0,-0.396532,-0.794263,-0.197246,1.592142,0.007088,0.908213,-0.303341
17289,6703100135,20150116T000000,348000.0,3,1.50,1330,6768,1.0,0,0,...,1320,6910,0,-0.396532,-0.794263,-0.816817,-0.743621,-0.640433,0.908213,-0.516301

In [65]:
target = ['price']
target

['price']

In [66]:
target

target_scaled = []
for var in target:
    new_col = var +"_scaled"
    df[new_col] = scaler.fit_transform(df[[var]])
    target_scaled.append(new_col)