In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('kc_house_data_train.csv')

In [17]:
df.drop(columns='Unnamed: 0', inplace=True)

In [20]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year_sold
0,2591820310,20141006T000000,365000.0,4,2.25,2070,8893,2.0,0,0,...,2070,0,1986,0,98058,47.4388,-122.162,2390,7700,2014
1,7974200820,20140821T000000,865000.0,5,3.00,2900,6730,1.0,0,0,...,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283,2014
2,7701450110,20140815T000000,1038000.0,4,2.50,3770,10893,2.0,0,2,...,3770,0,1997,0,98006,47.5646,-122.129,3710,9685,2014
3,9522300010,20150331T000000,1490000.0,3,3.50,4560,14608,2.0,0,2,...,4560,0,1990,0,98034,47.6995,-122.228,4050,14226,2015
4,9510861140,20140714T000000,711000.0,3,2.50,2550,5376,2.0,0,0,...,2550,0,2004,0,98052,47.6647,-122.083,2250,4050,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17285,627300195,20150303T000000,750000.0,5,2.50,3240,9960,1.0,0,1,...,2020,1220,1958,0,98008,47.5858,-122.112,2730,10400,2015
17286,8819900270,20140520T000000,440000.0,2,1.75,1300,4000,2.0,0,0,...,1300,0,1948,0,98105,47.6687,-122.288,1350,4013,2014
17287,3816300095,20140514T000000,310000.0,3,1.00,1050,9876,1.0,0,0,...,1050,0,1953,0,98028,47.7635,-122.262,1760,9403,2014
17288,122069107,20141204T000000,427500.0,3,1.50,1900,43186,1.5,0,0,...,1300,600,1971,0,98038,47.4199,-121.990,2080,108028,2014
17289,6703100135,20150116T000000,348000.0,3,1.50,1330,6768,1.0,0,0,...,1330,0,1952,0,98155,47.7366,-122.319,1320,6910,2015

In [19]:
df['year_sold'] = df['date'].apply(lambda x: x[0:4])

In [9]:
df['date'] = pd.to_datetime(df['date'], format= '%Y')